.register {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 247, 247);
}

.register__step {
    text-align: center;
    background-color: white;
    padding: 2em 1em;
    border-radius: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

.register__button {
    font-size: 1.1em;
    padding: 0.6em 0;
}