.register {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 224, 235);
}

.register__step {
    text-align: center;
    background-color: white;
    padding: 2em 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register__button {
    font-size: 1.1em;
    padding: 0.8em 0;
}