.password-input {
    width: 100%;
    position: relative;
}

.password-input button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.password-input img {
    width: 30px;
}