.register__role {
    gap: 1.5em;
}

.role__select {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.role__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em 2em;
    background-color: inherit;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 1em;
    border: solid transparent 2px;
}

.role__option:hover {
    background-color: rgb(120, 190, 223);
}

.role__option.active {
    color: white;
    background-color: rgb(54, 133, 170);
}

.role__option-name {
    font-size: 1.5em;
}

.role__option-image {
    max-width: 100%;
}

@media screen and (min-width: 500px) {
    .role__select {
        flex-direction: row;
    }

    .role__option {
        flex: 1;
    }
}