.slider {
    display: flex;
    overflow: hidden;
}

.slider__slide {
    min-width: 100%;
    transition: transform 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}